<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.ilich.vel">

    <application>

        <activity
            android:name=".about.AboutActivity"
            android:exported="true" />

        <activity
            android:name=".debug.DebugActivity"
            android:exported="true" />

        <service android:name=".VelService" />

    </application>

</manifest>